* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: seashell !important;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 2.5rem;
}

/*=====HEADER=====*/
header{
    /*Dado que el navbar de bootstrap tiene un position absolute por defecto, hacemos esto para que no obstruya la vista de 
    los demas elementos*/
    margin-bottom: 60px; 
}

/*=====NAVBAR=====*/


/*=====BANNER=====*/

.banner {
    /*background-image: url('../../img/hotel/timbre.jpg');*/
    min-height: 100vh; /*Para que ocupe todo el alto de la pantalla*/
    max-height: 100vh;
    background-size: cover; /*Para que cubra todo*/
    background-attachment: fixed;
}

/*Esto es para oscurecer el background, el :before es para aplicar lo que quiera antes del .header*/
.banner:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    min-height: 100vh;
    max-height: 100vh;
	background-color: rgba(0,0,0,0.4);
}

.banner-content {
    position: absolute;
    top: 50vh;
    text-align: center;
    color: seashell;
}

/*=====PRINCIPAL=====*/

/*=====QUIENES-SOMOS=====*/

/*=====COMERCIALIZACION=====*/

.glass-form{
    width: 1000px !important;
}

/*=====FOOTER=====*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

