* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/*=====HEADER=====*/
h2 {
    padding-top: 100px;
}

/*=====BANNER=====*/

.banner {
    border: 1px solid black;
}

.banner h1 {
    color: red !important;
}

/*=====PRINCIPAL=====*/
.carousel-img {
    min-width: 100vh;
    max-height: 60vh;
    border: 1px solid black;
}

/*=====QUIENES-SOMOS=====*/

.card-quienes-somos{
    margin-top: 100px;
}

.card-body{
    background-color: seashell;
}

/*=====COMERCIALIZACION=====*/


/*=====FOOTER=====*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

